body {
  background-color: hsl(216, 12%, 8%);
}

.card {
  border-radius: 20px;
  padding: 30px;
  background-color: hsl(213, 19%, 18%);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 350px;
  position: absolute;
}

#star_icon {
  display: inline-block;
  width: 44px;
  height: 44px;
  background-color: hsla(216, 29%, 14%, 0.988);
  border-radius: 20px;
  margin-bottom: 12px;
  text-align: center;
}

#star {
  margin: 12px;
}

.card-title {
  font-size: 25px;
  color: hsl(0, 0%, 100%);
  padding-bottom: 10px;
  font-family: "Overpass", sans-serif;
  font-weight: 700;
}

.card-text {
  color: hsl(217, 12%, 63%);
  padding-bottom: 10px;
  font-family: "Overpass", sans-serif;
  font-weight: 400;
}

/* .numbers {
  color: hsl(216, 12%, 54%);
  text-align: center;
} */

.numbers div {
  display: inline-block;
  width: 44px;
  height: 44px;
  background-color: hsla(216, 29%, 14%, 0.988);
  color: hsl(216, 12%, 54%);
  border-radius: 1000px;
  text-align: center;
}

.numbers div:hover {
  background-color: hsl(216, 12%, 54%);
  color: hsl(0, 0%, 100%);
  transition-duration: 0.4s;
}

.numbers div:active {
  background-color: hsl(25, 97%, 53%);
  color: hsl(0, 0%, 100%);
}

#btn_submit {
  text-align: center;
  border-radius: 20px;
  background-color: hsl(25, 97%, 53%);
  height: 40px;
  position: relative;
  color: hsl(0, 0%, 100%);
  font-family: "Overpass", sans-serif;
  font-weight: 400;
  transition-duration: 0.4s;
}

#btn_submit:hover {
  background-color: #fff;
  color: hsl(25, 97%, 53%);
}

#thanks-box {
  transform: translate(-50%, -50%) scale(0.7);
  transition: all 0.3s ease;

  opacity: 0;
  pointer-events: none;
}

#thanks-box.active {
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, -50%) scale(1);
}

#rate-box.show {
  opacity: 1;
  pointer-events: auto;
  transform: scale(1);
}

#thanks_icon,
#thanks-box .card-title,
#thanks-box .card-text,
#thanks-box #feed-back {
  text-align: center;
}

#feed-back {
  display: inline-block;
  background-color: hsla(216, 29%, 14%, 0.988);
  color: hsl(25, 97%, 53%);
  border-radius: 20px;
}
